<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/style.css?version=51}">
    <link rel="icon" type="image/x-icon" th:href="@{/images/favicon.png}">
</head>
<body>

<!-- NavBar -->
<nav id="navbar" class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/index}">Anөtheг Wөгld</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarScroll">
            <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" th:href="@{/index}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" th:href="@{/login}">Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/search}">Search</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/index#about-part}">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/randomAnime}">¿?</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled">Quizzes</a>
                </li>
            </ul>
            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Anime Name" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>

<!-- Login Form -->
<div class="login-flex">
    <div class="loginWrapper">
        <form th:action="@{/forgot}" method="post">
            <h1>Sign Up</h1>
            <div class="loginInput">
                <label for="email" ></label>
                <input type="email" id="email" class="form-control" name="email" placeholder="Email Address">
                <!-- unnecessary here <div id="emailHelp" class="form-text">Your information will always be kept safe and secure.</div>-->
            </div>
            <div class="registerAcc">
                <div id="emailHelp" class="form-text">You will be sent an email containing a reset link.</div>
                <button type="submit" class="btn btn-primary" id="btn-login"  value="Log In">Send Reset Link</button>
                <div class="forgot">
                    <p th:if="${errorMessage}" class="error">Email is wrong!</p>
                    <p><a th:href="@{/login}">Log in!</a></p>
                </div>
            </div>

        </form>
    </div>
</div>


<div class="login-loading">
</div>

<div class="footer">
    <a href="https://github.com/rafirafi2"><img src="../images/github-mark-white.svg" width="30" height="30" alt="github cat"></a>
    <p>Istiaque Rafi</p>
</div>


<script type="text/javascript" th:src="@{/js/navbar.js}"></script>
</body>
</html>